/.vscode
/hello.html
/hello1.css
/hello1.html
/hero.css
/hero.html
/img4.jpg
/index2.html
/interactive.CSS
/interactive.html
/login.html
/login.js
/my video.mp4
/my web img.png
/my web style.css
/my web.html
/product.jpg
/project 1.html
/project1.css
/spotify.css
/YouTube-Logo-Vector.png
/youtube.css
/youtube.html